# PostgreSQL Connection String (Neon or Railway Postgres)
# e.g., postgresql://username:password@ep-cool-fog-123456.eu-central-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=

GEMINI_API_KEY=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_INITIATOR_NAME=
MPESA_INITIATOR_PASSWORD=
MPESA_PASSKEY=
MPESA_SHORTCODE=
SMS_API_KEY=
SMS_SENDER_ID=
SMS_USERNAME=